.places {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 92px 0 0;
  max-width: 987px;
}

.places__card {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.places__card-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 48px;
}

.places__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
  max-width: 584px;
  max-height: 152px;
}
.places__button {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: #fff;
  background-color: #0278fe;
  width: 355px;
  height: 48px;

  border-radius: 4px;
  gap: 10px;
}

.places__card-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.artist__heading {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.12em;
  text-align: left;
  color: #aaaaaa;
}

.artist__text-1 .artist__text-2 {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}

.places__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
}
